.hero{
    min-height: 100vh;
    background: url("img/peaky-blinders.jpg") center/cover no-repeat;
    display: grid;
    place-items: center;
    color : #fff;
}
.btn-primary{
  margin-left: 45%;
}

.card{
    text-align: center;
}
.card-img-top{
    height: 300px;
    object-fit: cover;
  
}

/* modal effects */
/* z-index is for  to place element above or behind an block */
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    transition: all 0.3s linear;
    visibility: hidden;
    z-index: -10;
  
}

.open-modal{
    visibility: visible;
    z-index: 10;
}

